*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: 'titreKdram'; 
    src: url('../Fonts/LEMONMILK-Bold.otf') format('opentype'); 
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "navKdram";
    src: url("../Fonts/LEMONMILK-Regular.otf") format(opentype);
    font-weight: normal;
    font-style: normal;
}

nav{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
    
    
}
nav h1{
    text-align: center;
    font-size: 5rem;
    font-family: titreKdram;
}
nav ul{
    display: flex;
    gap: 50px;
    justify-content: center;
}
nav ul li{
    list-style: none;
    display: flex;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 2rem;
    font-family: navKdram;
}
nav ul li a:hover{
    text-decoration: underline;
}

.divBackgroundSerie {
    width: 100%;
    height: 1000px; 
    background-image: url('../Img/backgroundKdrampng.png'); 
    background-attachment: fixed;  
    background-position: center ;
}
.divBackgroundSerie h1{
    color: white;
    font-family: navKdram;
    text-align: center;
    line-height: 900%;
    font-size: 4rem;
}
.divBackgroundSerie p{
    color: white;
    font-family: navKdram;
    text-align: center;
    font-size: 4rem;
}
.divBackgroundBlack{
    width: 100%;
    height: 1500px; 
    background-image: url('../Img/backgroundBlackwebp.webp'); 
    background-attachment: fixed;  
    background-position: center 50px;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 100px;
}
.divBackgroundBlack h1{
    margin: 100px;
    font-family: navKdram;
    font-size: 4rem;
}
.article1{
    display: flex;
    flex-direction: row;
    justify-content: right;
    
}
.article1 p{
    margin: 100px;
    font-size: 2rem;
    padding: 50px;
    font-family: navKdram;
}
article{
    margin: 50px;
}
.article2{
    display: flex;
    justify-content: center;

}
.article2 h2{
    
    font-size: 3rem;
    font-family: navKdram;

}

.text-scroll {
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
            
            
    
            opacity: 0;
            transform: translateY(200px); 

            
            animation: apparaitre linear forwards;
            animation-timeline: view();
            
           
            animation-range: entry 30% cover 40%;
        }

        @keyframes apparaitre {
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }


